<div *ngFor="let faqcategory of faqsdata" style="margin-bottom: 50px">
  <h4>{{faqcategory.categoryName}}</h4>
  <div *ngFor="let faqentry of faqcategory.faqs" style="margin-top: 20px; margin-bottom: 10px">

      <div style="padding-left: 50px">
        <span style="font-weight: bold;">
          <i class="fas fa-question"></i>&nbsp;&nbsp;
          {{ faqentry.question }}<br/>
        </span>
          <div style="padding-left: 27px; padding-top: 20px;">
            {{ faqentry.answer }}
          </div>

      </div>
    
  </div>
</div>
