<h3>
  Available Soon on Your Favorite Platform!
</h3>
<p style="margin-top: 15px">
  Speed Recall works great on mobile, tablet and through our desktop app.  The application keeps information local to get you your information fast regardless of internet availability.
</p>
<div style="width: 100%; text-align: center; margin-top: 45px">
  <img src="../../../assets/apple_app_store_logo.png" style="width: 150px"/><br/>
  <img src="../../../assets/google_play_store_logo.png" style="width: 175px"/><br/>
  <img src="../../../assets/microsoft_windows_store_logo.png" style="width: 155px"/>
</div>