<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" [routerLink]="[{ outlets: { primary: ['home'],sidemenu: ['home'] } }]">Speed Recall</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample07" aria-controls="navbarsExample07" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExample07">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" [routerLink]="[{ outlets: { primary: ['about'],sidemenu: ['about'] } }]">About</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" routerLink="marketplace">Marketplace</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" routerLink="authors">Authors</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" [routerLink]="[{ outlets: { primary: ['user'],sidemenu: ['user'] } }]">My Account</a>
        </li>

      </ul>
      <form class="form-inline my-2 my-md-0">
        <!-- <input class="form-control" type="text" placeholder="Search" aria-label="Search"> -->
        <ul class="navbar-nav mr-auto">
        <li *ngIf="status" class="nav-item active" (click)="logout()">
          <a class="nav-link">Sign Out</a>
        </li>
  
        <li *ngIf="!status" class="nav-item active">
          <a class="nav-link" routerLink="signin">Sign In</a>
        </li>
      </ul>
      </form>
    </div>
  </div>
</nav>