
<app-siteheader></app-siteheader>

<app-navigation></app-navigation>

<div class="container-fluid" style="margin-top: 25px; margin-bottom: 25px">
  <div class="row">
    <div class="col-xl-3">
      <div class="container">
        <div class="row">
          <div class="col-md-1"></div>
          <div class="col-md-10">Secondary Navigation goes here</div>
          <div class="col-md-1"></div>
        </div>
      </div>
    </div>
    <div class="col-xl-6">
      <router-outlet></router-outlet>
    </div>
    <div class="col-xl-3">
        <div class="container">
            <div class="row">
              <div class="col-md-1"></div>
              <div class="col-md-10"><app-advertsidebar></app-advertsidebar></div>
              <div class="col-md-1"></div>
            </div>
          </div>
    </div>
  </div>
</div>

<app-sitefooter></app-sitefooter>
