<div class="container">
  <div class="row">
    <div class="col-md-12" style="padding-bottom: 25px">
      <h2>Create Quicksheet</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12" style="background-color:#D5D8DC;padding-bottom: 20px; padding-top: 10px">
      <h4>Configure Quicksheet Element to Add</h4><br/>
      <div class="container">
        <div class="row">
          <div class="col-md-1"></div>
          <div class="col-md-4" style="background-color:#FFF; padding-top: 10px; padding-bottom: 15px;">
            Select Type:<br/>
            <select id="elementselected" name="elementselected" (change)="onElementChange($event.target.value)" [(ngModel)]="theelementselected" style="width:100%">
                <option value="ch-topic" selected="selected">Topic</option>
                <option value="ch-title">Title</option>
                <option value="ch-note">Note</option>
                <option value="ch-code">Code Snippet</option>
                <option value="ch-footnote">Footnote</option>
                <option value="ch-linespace">Line Space</option>
            </select><br/><br/>
            <div *ngIf="theelementselected != 'ch-topic'" id="addtotopicdiv" name="addtotopicdiv">
                Add to Topic:<br/>
                <select id="titleaddtotopic" name="titleaddtotopic" [(ngModel)]="topictobindto" style="width: 100%">
                    <option *ngFor="let topic of quicksheets.topics" [value]="topic.name" >{{topic.text}}</option>
                </select><br/><br/>
            </div>
            <div *ngIf="theelementselected != 'ch-linespace'">
              Text:
              <br/>
              <textarea id="elementtext" name="elementtext" [(ngModel)]="elementtextarea" rows="6" style="width: 100%; font-family: 'Courier New', Courier, monospace" placeholder="Text goes here"></textarea>
              <br/>
            </div>
            <button class="btn btn-default" style="margin-top: 5px; float: right;" (click)="onAddClick()">Add</button>
          </div>
          <div class="col-md-2"></div>
          <div class="col-md-4" style="background-color:#FFF">
            Preview:<br/><br/>
            <div *ngIf="theelementselected == 'ch-topic'" class="{{theelementselected}}" style="border-right: 0px !important;">
              <p>
                {{elementtextarea}}
              </p>
            </div>
            <div *ngIf="theelementselected != 'ch-topic'" class="{{theelementselected}}" style="border-right: 0px !important;">
              {{elementtextarea}}
            </div>
          </div>
          <div class="col-md-1"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
        <br />
    </div>
  </div>
  <div class="row">
    <div class="col-md-12" style="background-color:#D5D8DC; border: 2px solid #0a0f0f;">
        <div class="row" style="background-color:#85929E; padding-top: 3px; padding-bottom: 3px; font-size: large; font-weight: bold; color:white;">
            <div class="col-md-12">
                Preview
            </div>
        </div>
        <div class="row">
            <div class="col-md-12" style="background-color: #EBEDEF; padding-top:15px; padding-bottom:15px; margin-top: 15px; margin-bottom: 15px">
                <div id="previewdiv" name="previewdiv" style="width: 100%; height: 400px; overflow-y:scroll; background-color:white; padding: 5px;">
                    <div *ngFor="let topic of quicksheets.topics">
                        <!-- <p>
                                {{topic.text}}
                        </p> -->
                        <div [attr.id]="topic.name" [attr.name]="topic.name" class="ch-topic">
                            <p>{{topic.text}}</p>




                            <div *ngFor="let aelement of topic.elements" class="col-md-12">


                                    <div class="row" style="border-bottom: 1px dashed gainsboro;">
                                        <div [attr.id]="aelement.name" [attr.name]="aelement.name" class="col-md-6 {{aelement.type}}">
                                            {{aelement.text}}
                                        </div>

                                        <div class="col-md-6 col">
                                                <div class="btn-group" role="group" aria-label="Basic example">
                                                    <button type="button" class="btn btn-secondary" onclick="movetotop(aelement.name)"><i class="fas fa-angle-double-up fa-xs"></i></button>
                                                    <button type="button" class="btn btn-secondary" onclick="moveoneup(aelement.name)"><i class="fas fa-angle-up fa-xs"></i></button>
                                                    <button type="button" class="btn btn-secondary" onclick="moveonedown(aelement.name)"><i class="fas fa-angle-down fa-xs"></i></button>
                                                    <button type="button" class="btn btn-secondary" onclick="movetobottom(aelement.name)"><i class="fas fa-angle-double-down fa-xs"></i></button>
                                                </div>
                                                <div class="btn-group" role="group" aria-label="Basic example">
                                                    <button type="button" class="btn btn-secondary" onclick="editelement(aelement.name)"><i class="fas fa-edit fa-xs"></i>&nbsp;Edit</button>
                                                    <button type="button" class="btn btn-secondary" onclick="deleteelement(aelement.name)"><i class="fas fa-trash-alt fa-xs"></i>&nbsp;Delete</button>
                                                </div>
                                        </div>
                                
                                    </div>
                                
                                
                                </div>




                        </div>                            
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <br />
    </div>
</div>
<div class="row">
    <div class="col-md-12" style="background-color:#D5D8DC; border: 2px solid #0a0f0f;">
        <div class="row" style="background-color:#85929E; padding-top: 3px; padding-bottom: 3px; font-size: large; font-weight: bold; color:white;">
            <div class="col-md-12">
                JSON
            </div>
        </div>
        <div class="row">
            <div class="col-md-12" style="background-color: #EBEDEF; padding-top:15px; padding-bottom:15px; margin-top: 15px; margin-bottom: 15px">
                <div style="width: 100%; height: 400px; overflow-y:scroll; background-color:white; padding: 5px;">
                    <pre id="jsonpreview" name="jsonpreview" >
                        {{ quicksheets | json }}
                    </pre>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
