<div class="container" style="padding: 0px;">
  <div class="row">
    <div class="col-md-12" style="padding: 0px;">
      <div style="width: 100%; height: 250px; background-image: url('../assets/depositphotos_189167854_CROPPED.jpg');">
        <div class="row">
          <div class="col-md-3" style="height:250px; text-align: center; "><img src="../assets/mto_logo_white.svg" style="height: 225px; margin-top: 12px" /></div>
          <div class="col-md-9" style="height:250px; text-align: center; vertical-align: middle;">
              <div style="background-color:rgba(242, 242, 242, 0.7); padding: 25px 0px; max-width: 450px; margin: auto; margin-top: 35px">
                <span style="font-size: 36px; font-weight: bold;">Speed Recall</span>
                <br/>
                <span style="font-size: 25px; font-weight: bold;">Powered Cheatsheets help you<br/>find information quickly.</span>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <br/>
      <p>
        Lorem ipsum dolor sit amet, soleat aeterno no quo. Quem similique ut mel, nam quas libris aliquip in. Et feugiat albucius eam, eam in scaevola facilisi democritum, eam at quodsi nominavi. Cu quo nemore dicunt, sed option intellegam in, eos an instructior definitiones. Sea ex alii brute. Te eam latine vulputate, ei vis aeque dicam, ex qui laudem ignota commodo.
      </p>
      <p>
        Ne usu natum doctus dolorem. Noluisse fabellas vim ei, mea cu fastidii accusamus efficiantur, dicta choro disputationi his no. Officiis convenire gubergren at pro, ut maiestatis omittantur pri, ne causae admodum delicata mel. Ad exerci homero quo. Te pro meis eligendi, usu ei timeam consetetur. Eu malis minim singulis vim.
      </p>
      <p>
        Impedit ullamcorper ea vis, vidit nostrum vim eu. Ad utinam nonumy corrumpit eos. Eu sea simul nihil malorum. Ad aeterno praesent vix, duo in harum apeirian. Mei vidisse tibique an, delenit inermis intellegam eos no.
      </p>
      <p>
        Vidit graeco feugait ex sea, odio primis doctus eos cu. At vel libris dolorum, per regione iudicabit et. No usu principes appellantur, mel te libris mediocrem definitiones. Pro dicunt eleifend disputationi in, ut vel suas possim mediocrem, ei docendi signiferumque eum. Nam no graeci assentior scriptorem, pri elit euismod indoctum in. Modus falli epicurei at est, quo aliquam debitis noluisse no.
      </p>
      <p>
        Ne his doming comprehensam. Est commodo tritani sadipscing no, essent nostrud eruditi nec no, et corrumpit mediocritatem eos. Has brute choro efficiendi id, ex sea quidam definiebas, ridens putant conceptam eam et. Has nullam verear intellegat in, pri eruditi eligendi at, tota dicam laudem mea te. Ut gloriatur maiestatis elaboraret his, ut mei inani nobis solet. Usu ea dolorum offendit, ad essent aliquam philosophia usu.
      </p>
    </div>
  </div>
</div>



